/*
	Sticky footer:
*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 230px;
}

#footer {
  position: relative;
  margin-top: -230px;
  height: 230px;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}


/*
	People:
*/

.person-box {
    -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
         box-sizing:border-box;
    float:left;
    padding: 20px;
    width:100%;
}

@media all and (min-width:900px) {
    .person-box {
        width:50%;
    }
}

@media all and (min-width:1360px) {
    .person-box {
        width:33.33333%;
    }
}

@media all and (min-width:1915px) {
    .person-box {
        width:25%;
    }
}​

.people-social-ul {
	overflow: auto;
}

.people-social-ul .people-social-li {
	list-style-type: none;
	float: left;
}

.person-portrait-box {
	width: 35%;
	float: left;
	padding: 10px;
}

.person-portrait {
	border-radius:15%;
	width: 100%;
}

.person-info-box {
	width: 65%;
	float: left;
	margin: 0px;
	padding: 10px;
	font-size: 17.5px;
}

.person-info-box a {
	font-size: 19.5px;
	font-weight: normal;
	line-height: 1;
	float: left;
	width: 100%
}

.person-description-box {
	float: left;
	width: 100%;
	text-align: left;
	padding: 10px;
}

.person-info-box small {
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	color: #999999;
	float: left;
	width: 100%
}

.people-social-ul .people-social-li .people-social-a .people-social-i {
	color: #fff;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	font-size: 15px;
	text-align: center;
	margin-right: 10px;
	padding-top: 5px;
}

.people-social-ul {
	float: left;
	width: 100%;
	padding-top: 23%;
}

.fa-linkedin {
	background:#007bb6
}
.fa-twitter {
	background:#00aced
}
.fa-envelope {
	background:#007bb6
}
.fa-github {
	background:#007bb6
}

/*

