---
permalink: /publications
layout: default
lang: en
title: Publications
navigation_weight: 4
---
<script type="text/javascript" src=script/toggle.js></script>

{% for publication in site.data.publications %}
<div class=broadsem-publication-box id=publication-box-{{forloop.index}}>
<a class=broadsem-publication-title href={{publication.link}}>{{publication.title}}</a>

<div class=broadsem-publication-author-box>
{% for author in publication.authors %}

{% if forloop.last %} and {{author}}
{% elsif forloop.length > 2 %}{{author}},
{% else %} {{author}}
{% endif %}

{% endfor %}
</div>

<div class=broadsem-publication-venue-box>
{{publication.venue}}
</div>

<div class=broadsem-publication-extra-box>
<a class=broadsem-publication-extra-link onclick="hide_visibility('publication-bib-box-{{forloop.index}}');toggle_visibility('publication-abstract-box-{{forloop.index}}')">abstract</a>
<a class=broadsem-publication-extra-link onclick="hide_visibility('publication-abstract-box-{{forloop.index}}');toggle_visibility('publication-bib-box-{{forloop.index}}')">bib</a>
{% if publication.pdf %}
<a class=broadsem-publication-extra-link href={{publication.pdf}}>pdf</a>
{% endif %}
</div>

<div class="broadsem-publication-abstract-box broadsem-hidden" id=publication-abstract-box-{{forloop.index}}>
{{publication.abstract}}
</div>

<div class="broadsem-publication-bib-box broadsem-hidden" id=publication-bib-box-{{forloop.index}}>
<pre>
@{{ publication.bib.type }}{% raw %}{{% endraw %}{{publication.bib.id}},
  author =	{% raw %}{{% endraw %}{% for author in publication.authors %}{% assign name_parts = author | split: " "%}{{name_parts.last}},{%for name in name_parts %}{%unless forloop.last %} {{name}}{% endunless %}{% endfor %}{% unless forloop.last %} and {% endunless %}{% endfor %}{% raw %}}{% endraw %},
  title =	{% raw %}{{% endraw %}{{publication.title}}{% raw %}}{% endraw %},
  journal =	{% raw %}{{% endraw %}{% if publication.bib.venue %}{{publication.bib.venue}}{% else %}{{publication.venue}}{% endif %}{% raw %}}{% endraw %},
  year =	{% raw %}{{% endraw %}{{publication.year}}{% raw %}}{% endraw %},
}
</pre>
</div>

</div>
{% endfor %}
